@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf");
}

:root 
{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
  
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.font-roboto {
  font-family: 'Roboto';
}

.transition-4 {
  transition: 0.4s ease;
}